In [1]:
import pandas as pd
import numpy as np
import cleaningtools as ct
from tqdm.notebook import tqdm_notebook as tqdm
import traceback
import os
tqdm.pandas()

check for pandas
pandas is properly installed
check for tqdm
tqdm is properly installed
check for numpy
numpy is properly installed
check for openpyxl
openpyxl is properly installed
check for xlwings
xlwings is properly installed

In [2]:
log='/Users/sebastiancoombs/Library/CloudStorage/GoogleDrive-sebastianbcoombs@gmail.com/Shared drives/AMC Projects/_AZ_Kay/_Drilling/_Logs/KM-22-95.xlsx'
dir_logs='/Users/sebastiancoombs/Library/CloudStorage/GoogleDrive-sebastianbcoombs@gmail.com/Shared drives/AMC Projects/_AZ_Kay/_Drilling/_Logs/'

In [3]:
##This is the data already in master data bases checking script.
dir_google='/Users/sebastiancoombs/Library/CloudStorage/GoogleDrive-sebastianbcoombs@gmail.com/Shared drives/AMC Projects/_AZ_Kay/_Master Databases/'
dir_test='test_data/'

In [4]:
verbose=True

In [22]:
data=pd.read_csv('/Users/sebastiancoombs/Library/CloudStorage/GoogleDrive-sebastianbcoombs@gmail.com/Shared drives/AMC Projects/_AZ_Kay/_Master Databases/drill xrf samples master.csv')
data=ct.drop_bad_columns(data,verbose=verbose)
data=ct.clean_column_names(data)
data=ct.reorder_columns(data,verbose=verbose)
data.head(5)

## Drop no data columns ##
Dropped []: no data
error in cleaning the column names
first columns before sort
['user', 'date', 'hole_id', 'internal_id', 'sample_id', 'depth', 'notes', 'depth_ft', 'source']
first columns after sort
['sample_id', 'hole_id', 'depth_ft', 'depth', 'user', 'date', 'internal_id', 'notes', 'source']

,sample_id,hole_id,depth_ft,depth,user,date,internal_id,notes,source
0,36-001,KM-21-36,NaN,400.0,JL,44869.0,4-85,0-396.5 core is missing,KM-21-36.xlsx
1,36-002,KM-21-36,NaN,410.0,JL,44869.0,4-86,NaN,KM-21-36.xlsx
2,36-003,KM-21-36,NaN,420.0,JL,44869.0,4-87,NaN,KM-21-36.xlsx
3,36-004,KM-21-36,NaN,430.0,JL,44869.0,4-88,NaN,KM-21-36.xlsx
4,36-005,KM-21-36,NaN,440.0,JL,44869.0,4-89,NaN,KM-21-36.xlsx

In [30]:
data.rename(columns={'depth':'depth_ft'},inplace=True)

data.groupby(level=0,axis=1).sum(numeric_only=False)

,date,depth_ft,hole_id,internal_id,notes,sample_id,source,user
0,44869.0,400.0,KM-21-36,4-85,0-396.5 core is missing,36-001,KM-21-36.xlsx,JL
1,44869.0,410.0,KM-21-36,4-86,0,36-002,KM-21-36.xlsx,JL
2,44869.0,420.0,KM-21-36,4-87,0,36-003,KM-21-36.xlsx,JL
3,44869.0,430.0,KM-21-36,4-88,0,36-004,KM-21-36.xlsx,JL
4,44869.0,440.0,KM-21-36,4-89,0,36-005,KM-21-36.xlsx,JL
...,...,...,...,...,...,...,...,...
4027,44750.0,2770.0,KM-21-27,8-27,0,27-061,KM-21-28.xlsx,AA
4028,44750.0,2780.0,KM-21-27,8-28,0,27-062,KM-21-28.xlsx,AA
4029,44750.0,2790.0,KM-21-27,8-29,0,27-063,KM-21-28.xlsx,AA
4030,44750.0,2800.0,KM-21-27,8-30,0,27-064,KM-21-28.xlsx,AA
4031,44750.0,2810.0,KM-21-27,8-31,0,27-065,KM-21-28.xlsx,AA

In [32]:
data['date']=pd.to_datetime(data['date'])
data

,sample_id,hole_id,depth_ft,depth_ft,user,date,internal_id,notes,source
0,36-001,KM-21-36,NaN,400.0,JL,1970-01-01 00:00:00.000044869,4-85,0-396.5 core is missing,KM-21-36.xlsx
1,36-002,KM-21-36,NaN,410.0,JL,1970-01-01 00:00:00.000044869,4-86,NaN,KM-21-36.xlsx
2,36-003,KM-21-36,NaN,420.0,JL,1970-01-01 00:00:00.000044869,4-87,NaN,KM-21-36.xlsx
3,36-004,KM-21-36,NaN,430.0,JL,1970-01-01 00:00:00.000044869,4-88,NaN,KM-21-36.xlsx
4,36-005,KM-21-36,NaN,440.0,JL,1970-01-01 00:00:00.000044869,4-89,NaN,KM-21-36.xlsx
...,...,...,...,...,...,...,...,...,...
4027,27-061,KM-21-27,2770.0,NaN,AA,1970-01-01 00:00:00.000044750,8-27,NaN,KM-21-28.xlsx
4028,27-062,KM-21-27,2780.0,NaN,AA,1970-01-01 00:00:00.000044750,8-28,NaN,KM-21-28.xlsx
4029,27-063,KM-21-27,2790.0,NaN,AA,1970-01-01 00:00:00.000044750,8-29,NaN,KM-21-28.xlsx
4030,27-064,KM-21-27,2800.0,NaN,AA,1970-01-01 00:00:00.000044750,8-30,NaN,KM-21-28.xlsx
4031,27-065,KM-21-27,2810.0,NaN,AA,1970-01-01 00:00:00.000044750,8-31,NaN,KM-21-28.xlsx

In [7]:
cols=data.filter(like='depth').columns
good_col=cols[0]
bad_cols=[c for c in cols if c != good_col]
for bad_col in bad_cols:
    print(bad_col)
    ser=pd.to_numeric(data[bad_col],errors='coerce')
    ser=ser.round(1)
    data.loc[ser[ser.notna()==True].index,good_col]=ser[ser.notna()==True]
    data=data.drop(bad_col,axis=1)
data

depth

,sample_id,hole_id,depth_ft,user,date,internal_id,notes,source
0,36-001,KM-21-36,400.0,JL,44869.0,4-85,0-396.5 core is missing,KM-21-36.xlsx
1,36-002,KM-21-36,410.0,JL,44869.0,4-86,NaN,KM-21-36.xlsx
2,36-003,KM-21-36,420.0,JL,44869.0,4-87,NaN,KM-21-36.xlsx
3,36-004,KM-21-36,430.0,JL,44869.0,4-88,NaN,KM-21-36.xlsx
4,36-005,KM-21-36,440.0,JL,44869.0,4-89,NaN,KM-21-36.xlsx
...,...,...,...,...,...,...,...,...
4027,27-061,KM-21-27,2770.0,AA,44750.0,8-27,NaN,KM-21-28.xlsx
4028,27-062,KM-21-27,2780.0,AA,44750.0,8-28,NaN,KM-21-28.xlsx
4029,27-063,KM-21-27,2790.0,AA,44750.0,8-29,NaN,KM-21-28.xlsx
4030,27-064,KM-21-27,2800.0,AA,44750.0,8-30,NaN,KM-21-28.xlsx
4031,27-065,KM-21-27,2810.0,AA,44750.0,8-31,NaN,KM-21-28.xlsx

In [8]:

data=pd.read_excel(log,'Collar')
data=data.T.reset_index()
data.columns=data.loc[0]
data.drop(0,inplace=True)
data.head(3)

,Project,Hole ID,Collar UTM E,Collar UTM N,Collar Elev m,Az,Dip,"Depth, ft",Core Size,Date Start,Date Stop,Log by
1,Kay Mine,KM-22-95,NaN,NaN,NaN,NaN,NaN,2137.0,HQ,2022-11-06 00:00:00,2022-11-30 00:00:00,JR/MH/JL
2,Unnamed: 2,NaN,WGS84 Zone 12S,WGS84 Zone 12S,NaN,NaN,NaN,NaN,NaN,2022-12-15 00:00:00,NaN,NaN

In [9]:
data=pd.read_excel(log,'Lithology')
data=ct.clean_column_names(data)
data=ct.reorder_columns(data,verbose=True)
data=ct.drop_bad_columns(data,verbose=False)
data=ct.drop_bad_rows(data,verbose=True)
# data.head(5)
data[(data.notna().sum(axis=1)==1)]

error in cleaning the column names
first columns before sort
['geo', 'hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'lithology', 'texture', 'description']
first columns after sort
['hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'geo', 'lithology', 'texture', 'description']
drop 0 na rows in locations: Int64Index([], dtype='int64')

Empty DataFrame
Columns: [hole_id, from_ft, to_ft, from_m, to_m, geo, lithology, texture, description]
Index: []

In [10]:
data=pd.read_excel(log,'Alteration')
data=ct.drop_bad_columns(data,verbose=verbose)
data=ct.clean_column_names(data)
data=ct.reorder_columns(data,verbose=verbose)
data=ct.drop_bad_rows(data,verbose=verbose)
# data=ct.round_depths(data)
data.head(5)

## Drop no data columns ##
Dropped []: no data
error in cleaning the column names
first columns before sort
['geo', 'hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'alt_type', 'qs', 'qz', 'chl', 'bc', 'cal', 'dol', 'description']
first columns after sort
['hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'geo', 'alt_type', 'qs', 'qz', 'chl', 'bc', 'cal', 'dol', 'description']
drop 0 na rows in locations: Int64Index([], dtype='int64')

,hole_id,from_ft,to_ft,from_m,to_m,geo,alt_type,qs,qz,chl,bc,cal,dol,description
0,KM-22-95,1384.0,1467.5,421.8432,447.2940,JR,qs,4.0,3.0,NaN,2.0,NaN,NaN,NaN
1,KM-22-95,1467.5,1483.0,447.2940,452.0184,JR,qs,5.0,NaN,3.0,NaN,NaN,NaN,bleached
2,KM-22-95,1483.0,1575.0,452.0184,480.0600,JR,qs,4.0,3.0,NaN,3.0,NaN,1.0,NaN
3,KM-22-95,1575.0,1580.5,480.0600,481.7364,JR,qs,5.0,3.0,NaN,NaN,1.0,1.0,bleached fault gouge
4,KM-22-95,1580.5,2137.0,481.7364,651.3576,JR,qs,4.0,3.0,NaN,3.0,NaN,1.0,NaN

In [11]:
col='from_ft'
data.loc[2,col]='e'

In [12]:
ser=pd.to_numeric(data[col],errors='coerce')
ser=ser.round(1)
data.loc[ser[ser.notna()==True].index,col]=ser[ser.notna()==True]
data[col]

0    1384.0
1    1467.5
2         e
3    1575.0
4    1580.5
5    2137.0
6    2480.0
Name: from_ft, dtype: object

In [13]:
data=pd.read_excel(log,'Structure')

data=ct.drop_bad_columns(data,verbose=verbose)
data=ct.clean_column_names(data)
data=ct.reorder_columns(data,verbose=verbose)
data=ct.drop_bad_rows(data,verbose=verbose)
data.head(5)

## Drop no data columns ##
Dropped []: no data
error in cleaning the column names
first columns before sort
['geo', 'hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'structure', 'angle', 'description']
first columns after sort
['hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'geo', 'structure', 'angle', 'description']
drop 0 na rows in locations: Int64Index([], dtype='int64')

,hole_id,from_ft,to_ft,from_m,to_m,geo,structure,angle,description
0,KM-22-95,0.0,10.0,0.0000,3.0480,JR,cr,NaN,very poor recover (0.5'/10') and crushed rock
1,KM-22-95,29.5,101.5,8.9916,30.9372,JR,flt,NaN,fault gouge with orange/brown to gray green cl...
2,KM-22-95,615.0,619.0,187.4520,188.6712,JR,vn,25.0,quartz-calcite vein; white with dark gray streaks
3,KM-22-95,630.0,657.0,192.0240,200.2536,JR,vn,NaN,quartz-calcite vein; white with dark gray stre...
4,KM-22-95,657.0,660.0,200.2536,201.1680,JR,bx,NaN,brecciated quartz-calcite vein; red-orange/bro...

In [14]:
data=pd.read_excel(log,'Foliation')
data=ct.drop_bad_columns(data,verbose=verbose)
data=ct.clean_column_names(data)
data=ct.reorder_columns(data,verbose=verbose)
data=ct.drop_bad_rows(data,verbose=verbose)
data.head(5)

## Drop no data columns ##
Dropped []: no data
error in cleaning the column names
first columns before sort
['geo', 'hole_id', 'depth_ft', 'depth_m', 'angle_deg', 'notes']
first columns after sort
['hole_id', 'depth_ft', 'depth_m', 'geo', 'angle_deg', 'notes']
drop 0 na rows in locations: Int64Index([], dtype='int64')

    hole_id  depth_ft  depth_m geo  angle_deg notes
0  KM-22-95      15.0   4.5720  JR       25.0   NaN
1  KM-22-95      29.0   8.8392  JR       30.0   NaN
2  KM-22-95      45.0  13.7160  JR       30.0   NaN
3  KM-22-95      60.0  18.2880  JR       45.0   NaN
4  KM-22-95      75.0  22.8600  JR       45.0   NaN

In [ ]:
data=pd.read_excel(log,'Samples')
data=ct.clean_column_names(data)
data=ct.drop_bad_columns(data,verbose=verbose)
data=ct.reorder_columns(data,verbose=verbose)
data=ct.drop_bad_rows(data,verbose=verbose)
data.head(5)

In [ ]:
data=pd.read_excel(log,'HYP-PKG Samples')
data=ct.drop_bad_columns(data,verbose=verbose)
data=ct.clean_column_names(data)
data=ct.reorder_columns(data,verbose=verbose)
data=ct.drop_bad_rows(data,verbose=verbose)
data.head(5)

In [ ]:
data=pd.read_excel(log,'Recovery')
data=ct.drop_bad_columns(data,verbose=verbose)
data=ct.clean_column_names(data)
data=ct.reorder_columns(data,verbose=verbose)
data=ct.drop_bad_rows(data,verbose=verbose)
data.head(5)

In [ ]:
data=pd.read_csv('/Users/sebastiancoombs/Library/CloudStorage/GoogleDrive-sebastianbcoombs@gmail.com/Shared drives/AMC Projects/_AZ_Kay/_Master Databases/drill xrf samples master.csv')
data=ct.drop_bad_columns(data,verbose=verbose)
data=ct.clean_column_names(data)
data=ct.reorder_columns(data,verbose=verbose)
data.head(5)

In [ ]:
verbose=False
master_dic={}
pbar=tqdm(sorted(os.listdir(dir_logs)))
i=0
for file in pbar:
    new=False
    i+=1
    if file.endswith('.xlsx'):
        try:
            n_file=pd.ExcelFile(dir_logs+file)
            sheets=n_file.sheet_names
            pbar.set_postfix_str(f'{file} containing:{sheets}')
            for sheet in sheets:
                if verbose:
                    print('---------------------------------------------------')
                    print(sheet)
                if sheet not in master_dic:
                    new=True
                    master_dic[sheet]=pd.DataFrame()
                try:
                    data=pd.read_excel(dir_logs+file,sheet)
                    if sheet=='Collar':
                        data=data.T.reset_index()
                        data.columns=data.loc[0]
                        data.drop(0,inplace=True)
                    data=ct.drop_bad_columns(data,verbose=verbose)
                    data=ct.clean_column_names(data)
                    data=ct.reorder_columns(data,verbose=verbose)
                    data=ct.drop_bad_rows(data,verbose=verbose)
                    data_name=f'{file}_{sheet}'
                    data['file_location']=data_name
                    if (new==False) and(i!=1):
                        broken_cols =[c for c in data.columns if c not in master_dic[sheet].columns]
                        if len(broken_cols)>1:
                            print(f'check {file}: {sheet} for bad data')
                            print(f'these columns were previously unseen {broken_cols}')
                        new=False
                except Exception as e:
                    print('error in sheet reading')
                    print(sheet)
                    traceback.print_exc()
                    print(e)
                master_dic[sheet]=pd.concat([master_dic[sheet],data])
        except Exception as e:
            print('error in file reading')
            print(file,sheet)
            print(e)

for sheet in master_dic:
    print(sheet)
    master_dic[sheet]=ct.drop_bad_rows(master_dic[sheet])
    master_dic[sheet]=ct.sort_data(master_dic[sheet])
    master_dic[sheet].to_csv(f'{dir_test}drill {sheet} py master.csv'.lower(),index=False)

In [ ]:
hgf

In [ ]:
##This is the data already in master data bases checking script.
dir_google='/Users/sebastiancoombs/Library/CloudStorage/GoogleDrive-sebastianbcoombs@gmail.com/Shared drives/AMC Projects/_AZ_Kay/_Master Databases/'
dir_test='test_data/'

In [ ]:
verbose=True
pbar=tqdm(sorted(os.listdir(dir_google)))
i=0
for file in pbar:
    new=False
    if file.endswith('.csv'):
        filename=file.split('.')[0]
        if file not in master_dic:
            new=True
            master_dic[filename]=pd.DataFrame()
        pbar.set_postfix_str(f'{file}')
        print('-------------------------------')
        print(file)
        try:
            data=pd.read_csv(dir_google+file,low_memory=False)
            data=ct.drop_bad_columns(data,verbose=verbose)
            data=ct.clean_column_names(data)
            data=ct.reorder_columns(data,verbose=verbose)
            data=ct.drop_bad_rows(data,na_threshold=5,verbose=verbose)
            master_dic[filename]=pd.concat([master_dic[filename],data])


        except Exception as e:
            print(file)
            print(e)
            continue
for sheet in master_dic:
    print(sheet)
    master_dic[sheet]=ct.drop_bad_rows(master_dic[sheet])
    master_dic[sheet]=ct.sort_data(master_dic[sheet])
    master_dic[sheet].to_csv(dir_test+sheet+'.csv',index=False)

In [ ]:
## merge function

files=sorted(os.listdir(dir_test))
sample_files=[]
data_files=[]
merge_dic={}
for file in files:
    if 'sample' in file:
        print(file)
        sample_files.append(file)

for d_file in files:
    if d_file not in sample_files:
        d_name=d_file.split(' ')
        for s_file in sample_files:
            s_name=s_file.split(' ')
            if s_name[:2]==d_name[:2]:
                basename=" ".join(s_name[:2])
                d_data=pd.read_csv(dir_test+d_file,low_memory=False)
                s_data=pd.read_csv(dir_test+s_file,low_memory=False)
                d_col=d_data.filter(like='sample').columns[0]
                s_col=s_data.filter(like='sample').columns[0]
                data=pd.merge(s_data,d_data,left_on=s_col,right_on=d_col,how='outer',suffixes=['_'+s_name[2],'_'+d_name[2]] )
                data=sort_data(data,verbose=True)
                data=ct.reorder_columns(data,verbose=True)
                if verbose:
                    print(f'Merging {" ".join(s_name)} samples with {" ".join(d_name)} data')
                    print(f'Using column: {s_col} in the sample sheet')
                    print(f'Using column: {d_col} in the data sheet')
                data.to_csv(f'test_data/{basename} merged.csv',index=False)


(sample_files,data_files)
                    # data=pd.read_csv(dir+file,low_memory=False)
    # data=sort_data(data)