In [1]:
import pandas as pd
import cleaningtools as ct
from tqdm.notebook import tqdm_notebook as tqdm
tqdm.pandas()

check for pandas
pandas is properly installed
check for tqdm
tqdm is properly installed
check for numpy
numpy is properly installed
check for openpyxl
openpyxl is properly installed

In [1]:
columns=['Hole _id', 'hole_ID',]

In [2]:
sheets=pd.ExcelFile()

['hole_id', 'hole_id']

In [2]:
path='/Users/sebastiancoombs/Library/CloudStorage/GoogleDrive-sebastianbcoombs@gmail.com/Shared drives/AMC Projects/_AZ_Kay/_Drilling/Drill Samples/Sample Lists/Kay Master Assays Sample List 2022 10-07.xlsx'
assay_samples=pd.read_excel(path)
assay_samples

      Work_Order Sample_ID   Hole_ID  From_ft   To_ft    From_m      To_m
0     TU20017795   B300016  KM-20-01    469.5   472.0  143.1036  143.8656
1     TU20017795   B300017  KM-20-01    472.0   475.0  143.8656  144.7800
2     TU20017795   B300001  KM-20-01    884.0   887.0  269.4432  270.3576
3     TU20017795   B300002  KM-20-01    887.0   892.0  270.3576  271.8816
4     TU20017795   B300003  KM-20-01    892.0   897.0  271.8816  273.4056
...          ...       ...       ...      ...     ...       ...       ...
4490  TU22229326   G453792  KM-22-84   1054.0  1058.5  321.2600  322.6300
4491  TU22229326   G453793  KM-22-84   1058.5  1063.5  322.6300  324.1500
4492  TU22229326   G453794  KM-22-84   1063.5  1067.5  324.1500  325.3700
4493  TU22229326   G453795  KM-22-84   1502.0  1507.0  457.8100  459.3300
4494  TU22229326   G453796  KM-22-84   1507.0  1510.0  459.3300  460.2500

[4495 rows x 7 columns]

In [4]:
data=remove_depth_errors(data)

In [5]:
data[data.From_m>data.To_m]

Empty DataFrame
Columns: [Geo, Hole _ID, From_ft, To_ft, From_m, To_m, Structure, Angle, Description, Unnamed: 9, /.,, 118, file, folder]
Index: []

In [ ]:
def fix(data,inx):
    locs=[inx-1,inx,inx+1]
    loc_extra=[inx-1,inx,inx+1,inx+2]
    data.loc[locs,'From_ft']=data.loc[locs,'From_ft'].sort_values(ascending=False)
    data.loc[locs,'To_ft']=data.loc[loc_extra,'To_ft'].sort_values(ascending=False).shift(-1)

    return

In [ ]:
drop=data.filter(like='Unnamed:').columns
data=data.drop(drop,axis=1)

In [ ]:
data.to_csv(path,index=False)