In [1]:
import pandas as pd
import numpy as np
import cleaningtools as ct
from tqdm.notebook import tqdm_notebook as tqdm
import traceback
import os
tqdm.pandas()

check for pandas
pandas is properly installed
check for tqdm
tqdm is properly installed
check for numpy
numpy is properly installed
check for openpyxl
openpyxl is properly installed

In [2]:
log='/Users/sebastiancoombs/Library/CloudStorage/GoogleDrive-sebastianbcoombs@gmail.com/Shared drives/AMC Projects/_AZ_Kay/_Drilling/_Logs/KM-20-01.xlsx'
dir_logs='/Users/sebastiancoombs/Library/CloudStorage/GoogleDrive-sebastianbcoombs@gmail.com/Shared drives/AMC Projects/_AZ_Kay/_Drilling/_Logs/'

In [3]:
##This is the data already in master data bases checking script.
dir_google='/Users/sebastiancoombs/Library/CloudStorage/GoogleDrive-sebastianbcoombs@gmail.com/Shared drives/AMC Projects/_AZ_Kay/_Master Databases/'
dir_test='test_data/'

In [4]:
verbose=True

In [5]:

data=pd.read_excel(log,'Collar')
data=data.T.reset_index()
data.columns=data.loc[0]
data.drop(0,inplace=True)
data.head(3)

,Project,Hole ID,Collar UTM E,Collar UTM N,Collar Elev m,Az,Dip,"Depth, ft","Depth, m",Core Size,Date Start,Date Stop,Log by
1,Kay Mine,KM-20-01,392684.0,3769388.0,643.0,78.0,-48.0,1100.0,335.28,HQ,2020-01-04 00:00:00,2020-01-10 00:00:00,Dave Lajack
2,Unnamed: 2,NaN,WGS84 Zone 12S,WGS84 Zone 12S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data=pd.read_excel(log,'Lithology')
data=ct.clean_column_names(data)
data=ct.reorder_columns(data,verbose=True)
data=ct.drop_bad_columns(data,verbose=False)
data=ct.drop_bad_rows(data,verbose=True)
# data.head(5)
data[(data.notna().sum(axis=1)==1)]

first columns before sort
['geo', 'hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'lithology', 'texture', 'description']
first columns after sort
['hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'geo', 'lithology', 'texture', 'description']
drop 0 na rows in locations: Int64Index([], dtype='int64')

Empty DataFrame
Columns: [hole_id, from_ft, to_ft, from_m, to_m, geo, lithology, texture, description]
Index: []

In [7]:
data=pd.read_excel(log,'Alteration')
data=ct.drop_bad_columns(data,verbose=verbose)
data=ct.clean_column_names(data)
data=ct.reorder_columns(data,verbose=verbose)
data=ct.drop_bad_rows(data,verbose=verbose)
data.head(5)

## Drop no data columns ##
Dropped ['bc', 'cal']: no data
first columns before sort
['geo', 'hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'alt_type', 'qs', 'qz', 'chl', 'dol', 'description']
first columns after sort
['hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'geo', 'alt_type', 'qs', 'qz', 'chl', 'dol', 'description']
drop 0 na rows in locations: Int64Index([], dtype='int64')

,hole_id,from_ft,to_ft,from_m,to_m,geo,alt_type,qs,qz,chl,dol,description
0,KM-20-01,49.5,55.5,15.0876,16.91640,DL,cal,NaN,NaN,NaN,4.0,Strong Feox-FeCarb
1,KM-20-01,144.0,147.5,43.8912,44.95800,DL,dol,NaN,NaN,NaN,4.0,Strong Feox-FeCarb
2,KM-20-01,346.0,350.0,105.4608,106.68000,DL,cal,NaN,NaN,NaN,5.0,FeCarb(calcite vein)
3,KM-20-01,368.5,370.5,112.3188,112.92840,DL,qz,NaN,4.0,NaN,NaN,Silicification. Pervasive.
4,KM-20-01,472.0,474.7,143.8656,144.68856,DL,qz,NaN,4.0,NaN,NaN,Silicification. Pervasive.

In [8]:
data=pd.read_excel(log,'Structure')

data=ct.drop_bad_columns(data,verbose=verbose)
data=ct.clean_column_names(data)
data=ct.reorder_columns(data,verbose=verbose)
data=ct.drop_bad_rows(data,verbose=verbose)
data.head(5)

## Drop no data columns ##
Dropped []: no data
first columns before sort
['geo', 'hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'structure', 'angle', 'description']
first columns after sort
['hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'geo', 'structure', 'angle', 'description']
drop 0 na rows in locations: Int64Index([], dtype='int64')

    hole_id  from_ft  to_ft   from_m     to_m geo structure  angle description
0  KM-20-01     44.0   44.0  13.4112  13.4112  DL         f   45.0         NaN
1  KM-20-01     50.0   50.0  15.2400  15.2400  DL         f   75.0         NaN
2  KM-20-01     63.0   63.0  19.2024  19.2024  DL         f   80.0         NaN
3  KM-20-01     81.0   81.0  24.6888  24.6888  DL         f   50.0         NaN
4  KM-20-01    102.0  102.0  31.0896  31.0896  DL         f   75.0         NaN

In [9]:
data=pd.read_excel(log,'Foliation')
data=ct.drop_bad_columns(data,verbose=verbose)
data=ct.clean_column_names(data)
data=ct.reorder_columns(data,verbose=verbose)
data=ct.drop_bad_rows(data,verbose=verbose)
data.head(5)

## Drop no data columns ##
Dropped ['Geo', 'Hole _ID', 'Depth_ft', 'Angle_deg', 'Notes']: no data
first columns before sort
['depth_m']
first columns after sort
['depth_m']
drop 9 na rows in locations: Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

Empty DataFrame
Columns: [depth_m]
Index: []

In [10]:
data=pd.read_excel(log,'Samples')
data=ct.clean_column_names(data)
data=ct.drop_bad_columns(data,verbose=verbose)
data=ct.reorder_columns(data,verbose=verbose)
data=ct.drop_bad_rows(data,verbose=verbose)
data.head(5)

## Drop no data columns ##
Dropped []: no data
first columns before sort
['geo', 'sample_id', 'hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'qaqc', 'description']
first columns after sort
['sample_id', 'hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'geo', 'qaqc', 'description']
drop 0 na rows in locations: Int64Index([], dtype='int64')

,sample_id,hole_id,from_ft,to_ft,from_m,to_m,geo,qaqc,description
0,B300016,KM-20-01,469.5,472.0,143.1036,143.8656,DL,NaN,Chlorite-sericite schist with concordant quart...
1,B300017,KM-20-01,472.0,475.0,143.8656,144.7800,DL,NaN,Silicified zone with quartz-pyrite veinlets. P...
2,B300001,KM-20-01,884.0,887.0,269.4432,270.3576,DL,NaN,Qtz-sericite schist with 0.4' thick quartz vei...
3,B300002,KM-20-01,887.0,892.0,270.3576,271.8816,DL,NaN,Sericite-qtz schist with 0.2' exhalite(cpy <1%...
4,B300003,KM-20-01,892.0,897.0,271.8816,273.4056,DL,NaN,Sericite-qtz schist with several thin exhalite...

In [11]:
data=pd.read_excel(log,'HYP-PKG Samples')
data=ct.drop_bad_columns(data,verbose=verbose)
data=ct.clean_column_names(data)
data=ct.reorder_columns(data,verbose=verbose)
data=ct.drop_bad_rows(data,verbose=verbose)
data.head(5)

## Drop no data columns ##
Dropped ['Description']: no data
first columns before sort
['geo', 'sample_id', 'work_order', 'hole_id', 'depth_ft', 'depth_m']
first columns after sort
['work_order', 'sample_id', 'hole_id', 'depth_ft', 'depth_m', 'geo']
drop 0 na rows in locations: Int64Index([], dtype='int64')

   work_order sample_id   hole_id  depth_ft  depth_m geo
0  TU20190284   W998511  KM-20-01     820.0   249.94  RH
1  TU20190284   W998512  KM-20-01     830.0   252.98  RH
2  TU20190284   W998513  KM-20-01     840.0   256.03  RH
3  TU20190284   W998514  KM-20-01     850.0   259.08  RH
4  TU20190284   W998515  KM-20-01     860.0   262.13  RH

In [12]:
data=pd.read_excel(log,'Recovery')
data=ct.drop_bad_columns(data,verbose=verbose)
data=ct.clean_column_names(data)
data=ct.reorder_columns(data,verbose=verbose)
data=ct.drop_bad_rows(data,verbose=verbose)
data.head(5)
data.notna().sum(axis=1)

## Drop no data columns ##
Dropped ['Hole _ID', 'To_ft', 'Recovered']: no data
first columns before sort
['from_ft', 'drilled_ft', 'recovery_%']
first columns after sort
['from_ft', 'drilled_ft', 'recovery_%']
drop 98 na rows in locations: Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
            69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
            86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98],
           dtype='int64')

0    3
dtype: int64

In [13]:
verbose=False
master_dic={}
pbar=tqdm(sorted(os.listdir(dir_logs)))
i=0
for file in pbar:
    new=False
    i+=1
    if file.endswith('.xlsx'):
        try:
            n_file=pd.ExcelFile(dir_logs+file)
            sheets=n_file.sheet_names
            pbar.set_postfix_str(f'{file} containing:{sheets}')
            for sheet in sheets:
                if verbose:
                    print('---------------------------------------------------')
                    print(sheet)
                if sheet not in master_dic:
                    new=True
                    master_dic[sheet]=pd.DataFrame()
                try:
                    data=pd.read_excel(dir_logs+file,sheet)
                    if sheet=='Collar':
                        data=data.T.reset_index()
                        data.columns=data.loc[0]
                        data.drop(0,inplace=True)
                    data=ct.drop_bad_columns(data,verbose=verbose)
                    data=ct.clean_column_names(data)
                    data=ct.reorder_columns(data,verbose=verbose)
                    data=ct.drop_bad_rows(data,verbose=verbose)
                    data_name=f'{file}_{sheet}'
                    data['file_location']=data_name
                    if (new==False) and(i!=1):
                        broken_cols =[c for c in data.columns if c not in master_dic[sheet].columns]
                        if len(broken_cols)>1:
                            print(f'check {file}: {sheet} for bad data')
                            print(f'these columns were previously unseen {broken_cols}')
                        new=False
                except Exception as e:
                    print('error in sheet reading')
                    print(sheet)
                    traceback.print_exc()
                    print(e)
                master_dic[sheet]=pd.concat([master_dic[sheet],data])
        except Exception as e:
            print('error in file reading')
            print(file,sheet)
            print(e)

for sheet in master_dic:
    print(sheet)
    master_dic[sheet]=ct.drop_bad_rows(master_dic[sheet])
    master_dic[sheet]=ct.sort_data(master_dic[sheet])
    master_dic[sheet].to_csv(f'{dir_test}drill {sheet} py master.csv'.lower(),index=False)

  0%|          | 0/138 [00:00<?, ?it/s]

check KM-20-07.xlsx: Foliation for bad data
these columns were previously unseen ['hole_id', 'depth_ft', 'geo', 'angle_deg', 'notes']
check KM-20-07.xlsx: Recovery for bad data
these columns were previously unseen ['hole_id', 'to_ft', 'recovered']
check KM-20-09.xlsx: Mineralization for bad data
these columns were previously unseen ['gn%', 'sl%', 'other']

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:211: UserWarning: Cell B11 is marked as a date but the serial value 6692105.0 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)

Error dropping bad columns
The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Error dropping bad columns
The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Error dropping bad columns
The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Error dropping bad columns
The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Error dropping bad columns
The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Error dropping bad columns
The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Error dropping bad columns
The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
check KM-22-96.xlsx: Collar for bad data
these columns were previously unseen ['drill_pad', 'zone', 'elev_(m)', 'depth_(ft)', 'depth_(m)', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
error in file reading
KM-22-96.xlsx Collar
Reindexing only valid with uniquely valued Index objects
Error dropping bad columns
The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Error dropping bad columns
The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Error dropping bad columns
The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Error dropping bad columns
The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Error dropping bad columns
The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Error dropping bad columns
The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
Error dropping bad columns
The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
check _Kay Drill Log Template.xlsx: Collar for bad data
these columns were previously unseen ['drill_pad', 'zone', 'elev_(m)', 'depth_(ft)', 'depth_(m)', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
error in file reading
_Kay Drill Log Template.xlsx Collar
Reindexing only valid with uniquely valued Index objects
Collar
Lithology
Mineralization
Alteration
Structure
Foliation
Samples
HYP-PKG Samples
Recovery
Legend
Error in sorting
hole not in the columns
index 0 is out of bounds for axis 0 with size 0
Error in sorting
ft not in the columns
index 0 is out of bounds for axis 0 with size 0
XRF
Terraspec
Error in sorting
ft not in the columns
index 0 is out of bounds for axis 0 with size 0
Closeout Checklist
Error in sorting
ft not in the columns
index 0 is out of bounds for axis 0 with size 0

In [14]:
hgf

NameError: name 'hgf' is not defined

In [ ]:
##This is the data already in master data bases checking script.
dir_google='/Users/sebastiancoombs/Library/CloudStorage/GoogleDrive-sebastianbcoombs@gmail.com/Shared drives/AMC Projects/_AZ_Kay/_Master Databases/'
dir_test='test_data/'

In [ ]:
verbose=True
pbar=tqdm(sorted(os.listdir(dir_google)))
i=0
for file in pbar:
    new=False
    if file.endswith('.csv'):
        filename=file.split('.')[0]
        if file not in master_dic:
            new=True
            master_dic[filename]=pd.DataFrame()
        pbar.set_postfix_str(f'{file}')
        print('-------------------------------')
        print(file)
        try:
            data=pd.read_csv(dir_google+file,low_memory=False)
            data=ct.drop_bad_columns(data,verbose=verbose)
            data=ct.clean_column_names(data)
            data=ct.reorder_columns(data,verbose=verbose)
            data=ct.drop_bad_rows(data,na_threshold=5,verbose=verbose)
            master_dic[filename]=pd.concat([master_dic[filename],data])


        except Exception as e:
            print(file)
            print(e)
            continue
for sheet in master_dic:
    print(sheet)
    master_dic[sheet]=ct.drop_bad_rows(master_dic[sheet])
    master_dic[sheet]=ct.sort_data(master_dic[sheet])
    master_dic[sheet].to_csv(dir_test+sheet+'.csv',index=False)

  0%|          | 0/22 [00:00<?, ?it/s]

-------------------------------
Copy of xrf samples master.csv
## Drop no data columns ##
Dropped []: no data
columns before sort
['sample_id_xrf', 'from_ft', 'to_ft', 'from_m', 'to_m', 'hole_id', 'geo', 'instrument_serial_num', 'reading_#', 'date', 'time', 'method_name', 'test_label', 'collimation_status', 'latitude', 'longitude', 'units', 'mg_concentration', 'mg_error1s', 'mg_user_factor_slope', 'mg_user_factor_offset', 'al_concentration', 'al_error1s', 'al_user_factor_slope', 'al_user_factor_offset', 'si_concentration', 'si_error1s', 'si_user_factor_slope', 'si_user_factor_offset', 'p_concentration', 'p_error1s', 'p_user_factor_slope', 'p_user_factor_offset', 's_concentration', 's_error1s', 's_user_factor_slope', 's_user_factor_offset', 'k_concentration', 'k_error1s', 'k_user_factor_slope', 'k_user_factor_offset', 'ca_concentration', 'ca_error1s', 'ca_user_factor_slope', 'ca_user_factor_offset', 'ti_concentration', 'ti_error1s', 'ti_user_factor_slope', 'ti_user_factor_offset', 'v_concentration', 'v_error1s', 'v_user_factor_slope', 'v_user_factor_offset', 'cr_concentration', 'cr_error1s', 'cr_user_factor_slope', 'cr_user_factor_offset', 'mn_concentration', 'mn_error1s', 'mn_user_factor_slope', 'mn_user_factor_offset', 'fe_concentration', 'fe_error1s', 'fe_user_factor_slope', 'fe_user_factor_offset', 'co_concentration', 'co_error1s', 'co_user_factor_slope', 'co_user_factor_offset', 'ni_concentration', 'ni_error1s', 'ni_user_factor_slope', 'ni_user_factor_offset', 'cu_concentration', 'cu_error1s', 'cu_user_factor_slope', 'cu_user_factor_offset', 'zn_concentration', 'zn_error1s', 'zn_user_factor_slope', 'zn_user_factor_offset', 'as_concentration', 'as_error1s', 'as_user_factor_slope', 'as_user_factor_offset', 'se_concentration', 'se_error1s', 'se_user_factor_slope', 'se_user_factor_offset', 'rb_concentration', 'rb_error1s', 'rb_user_factor_slope', 'rb_user_factor_offset', 'sr_concentration', 'sr_error1s', 'sr_user_factor_slope', 'sr_user_factor_offset', 'y_concentration', 'y_error1s', 'y_user_factor_slope', 'y_user_factor_offset', 'zr_concentration', 'zr_error1s', 'zr_user_factor_slope', 'zr_user_factor_offset', 'nb_concentration', 'nb_error1s', 'nb_user_factor_slope', 'nb_user_factor_offset', 'mo_concentration', 'mo_error1s', 'mo_user_factor_slope', 'mo_user_factor_offset', 'ag_concentration', 'ag_error1s', 'ag_user_factor_slope', 'ag_user_factor_offset', 'cd_concentration', 'cd_error1s', 'cd_user_factor_slope', 'cd_user_factor_offset', 'sn_concentration', 'sn_error1s', 'sn_user_factor_slope', 'sn_user_factor_offset', 'sb_concentration', 'sb_error1s', 'sb_user_factor_slope', 'sb_user_factor_offset', 'ba_concentration', 'ba_error1s', 'ba_user_factor_slope', 'ba_user_factor_offset', 'la_concentration', 'la_error1s', 'la_user_factor_slope', 'la_user_factor_offset', 'ce_concentration', 'ce_error1s', 'ce_user_factor_slope', 'ce_user_factor_offset', 'pr_concentration', 'pr_error1s', 'pr_user_factor_slope', 'pr_user_factor_offset', 'nd_concentration', 'nd_error1s', 'nd_user_factor_slope', 'nd_user_factor_offset', 'w_concentration', 'w_error1s', 'w_user_factor_slope', 'w_user_factor_offset', 'hg_concentration', 'hg_error1s', 'hg_user_factor_slope', 'hg_user_factor_offset', 'pb_concentration', 'pb_error1s', 'pb_user_factor_slope', 'pb_user_factor_offset', 'bi_concentration', 'bi_error1s', 'bi_user_factor_slope', 'bi_user_factor_offset', 'th_concentration', 'th_error1s', 'th_user_factor_slope', 'th_user_factor_offset', 'u_concentration', 'u_error1s', 'u_user_factor_slope', 'u_user_factor_offset', 'le_concentration', 'le_error1s', 'le_user_factor_slope', 'le_user_factor_offset', 'qaqc', 'real_time_1', 'real_time_2', 'real_time_3', 'ti:zr', 'unnamed:_299', 'file']
columns after sort
['hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'sample_id_xrf', 'geo', 'instrument_serial_num', 'reading_#', 'date', 'time', 'method_name', 'test_label', 'collimation_status', 'latitude', 'longitude', 'units', 'mg_concentration', 'mg_error1s', 'mg_user_factor_slope', 'mg_user_factor_offset', 'al_concentration', 'al_error1s', 'al_user_factor_slope', 'al_user_factor_offset', 'si_concentration', 'si_error1s', 'si_user_factor_slope', 'si_user_factor_offset', 'p_concentration', 'p_error1s', 'p_user_factor_slope', 'p_user_factor_offset', 's_concentration', 's_error1s', 's_user_factor_slope', 's_user_factor_offset', 'k_concentration', 'k_error1s', 'k_user_factor_slope', 'k_user_factor_offset', 'ca_concentration', 'ca_error1s', 'ca_user_factor_slope', 'ca_user_factor_offset', 'ti_concentration', 'ti_error1s', 'ti_user_factor_slope', 'ti_user_factor_offset', 'v_concentration', 'v_error1s', 'v_user_factor_slope', 'v_user_factor_offset', 'cr_concentration', 'cr_error1s', 'cr_user_factor_slope', 'cr_user_factor_offset', 'mn_concentration', 'mn_error1s', 'mn_user_factor_slope', 'mn_user_factor_offset', 'fe_concentration', 'fe_error1s', 'fe_user_factor_slope', 'fe_user_factor_offset', 'co_concentration', 'co_error1s', 'co_user_factor_slope', 'co_user_factor_offset', 'ni_concentration', 'ni_error1s', 'ni_user_factor_slope', 'ni_user_factor_offset', 'cu_concentration', 'cu_error1s', 'cu_user_factor_slope', 'cu_user_factor_offset', 'zn_concentration', 'zn_error1s', 'zn_user_factor_slope', 'zn_user_factor_offset', 'as_concentration', 'as_error1s', 'as_user_factor_slope', 'as_user_factor_offset', 'se_concentration', 'se_error1s', 'se_user_factor_slope', 'se_user_factor_offset', 'rb_concentration', 'rb_error1s', 'rb_user_factor_slope', 'rb_user_factor_offset', 'sr_concentration', 'sr_error1s', 'sr_user_factor_slope', 'sr_user_factor_offset', 'y_concentration', 'y_error1s', 'y_user_factor_slope', 'y_user_factor_offset', 'zr_concentration', 'zr_error1s', 'zr_user_factor_slope', 'zr_user_factor_offset', 'nb_concentration', 'nb_error1s', 'nb_user_factor_slope', 'nb_user_factor_offset', 'mo_concentration', 'mo_error1s', 'mo_user_factor_slope', 'mo_user_factor_offset', 'ag_concentration', 'ag_error1s', 'ag_user_factor_slope', 'ag_user_factor_offset', 'cd_concentration', 'cd_error1s', 'cd_user_factor_slope', 'cd_user_factor_offset', 'sn_concentration', 'sn_error1s', 'sn_user_factor_slope', 'sn_user_factor_offset', 'sb_concentration', 'sb_error1s', 'sb_user_factor_slope', 'sb_user_factor_offset', 'ba_concentration', 'ba_error1s', 'ba_user_factor_slope', 'ba_user_factor_offset', 'la_concentration', 'la_error1s', 'la_user_factor_slope', 'la_user_factor_offset', 'ce_concentration', 'ce_error1s', 'ce_user_factor_slope', 'ce_user_factor_offset', 'pr_concentration', 'pr_error1s', 'pr_user_factor_slope', 'pr_user_factor_offset', 'nd_concentration', 'nd_error1s', 'nd_user_factor_slope', 'nd_user_factor_offset', 'w_concentration', 'w_error1s', 'w_user_factor_slope', 'w_user_factor_offset', 'hg_concentration', 'hg_error1s', 'hg_user_factor_slope', 'hg_user_factor_offset', 'pb_concentration', 'pb_error1s', 'pb_user_factor_slope', 'pb_user_factor_offset', 'bi_concentration', 'bi_error1s', 'bi_user_factor_slope', 'bi_user_factor_offset', 'th_concentration', 'th_error1s', 'th_user_factor_slope', 'th_user_factor_offset', 'u_concentration', 'u_error1s', 'u_user_factor_slope', 'u_user_factor_offset', 'le_concentration', 'le_error1s', 'le_user_factor_slope', 'le_user_factor_offset', 'qaqc', 'real_time_1', 'real_time_2', 'real_time_3', 'ti:zr', 'unnamed:_299', 'file']
drop 0 na rows in locations: Int64Index([], dtype='int64')
-------------------------------
drill alteration master.csv
## Drop no data columns ##
Dropped []: no data
columns before sort
['hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'geo', 'alt_type', 'qs', 'qz', 'chl', 'bc', 'cal', 'dol', 'description', 'foldername', 'filename', 'unnamed:_16', 'fecarb']
columns after sort
['hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'geo', 'alt_type', 'qs', 'qz', 'chl', 'bc', 'cal', 'dol', 'description', 'foldername', 'filename', 'unnamed:_16', 'fecarb']
drop 0 na rows in locations: Int64Index([], dtype='int64')
-------------------------------
drill foliation master.csv
## Drop no data columns ##
Dropped []: no data
columns before sort
['hole_id', 'from_ft', 'from_m', 'depth_ft', 'depth_m', 'geo', 'angle_deg', 'notes', 'foldername', 'filename', 'dip_deg']
columns after sort
['hole_id', 'from_ft', 'from_m', 'depth_ft', 'depth_m', 'geo', 'angle_deg', 'notes', 'foldername', 'filename', 'dip_deg']
drop 0 na rows in locations: Int64Index([], dtype='int64')
-------------------------------
drill geochemical assays master.csv
## Drop no data columns ##
Dropped []: no data
columns before sort
['sample', 'recvd_wt.', 'au', 'ag', 'al', 'as', 'ba', 'be', 'bi', 'ca', 'cd', 'co', 'cr', 'cu', 'fe', 'ga', 'k', 'la', 'mg', 'mn', 'mo', 'na', 'ni', 'p', 'pb', 's', 'sb', 'sc', 'sr', 'th', 'ti', 'tl', 'u', 'v', 'w', 'zn', 'ag_2', 'foldername', 'filename', 'cu_2', 'au_2', 'zn_2', 'ce', 'cs', 'ge', 'hf', 'in', 'li', 'nb', 'rb', 're', 'se', 'sn', 'ta', 'te', 'y', 'zr', 'sn_2', 'pb_2']
columns after sort
['sample', 'recvd_wt.', 'au', 'ag', 'al', 'as', 'ba', 'be', 'bi', 'ca', 'cd', 'co', 'cr', 'cu', 'fe', 'ga', 'k', 'la', 'mg', 'mn', 'mo', 'na', 'ni', 'p', 'pb', 's', 'sb', 'sc', 'sr', 'th', 'ti', 'tl', 'u', 'v', 'w', 'zn', 'ag_2', 'foldername', 'filename', 'cu_2', 'au_2', 'zn_2', 'ce', 'cs', 'ge', 'hf', 'in', 'li', 'nb', 'rb', 're', 'se', 'sn', 'ta', 'te', 'y', 'zr', 'sn_2', 'pb_2']
drop 0 na rows in locations: Int64Index([], dtype='int64')
-------------------------------
drill hyp-pkg certificates master.csv
## Drop no data columns ##
Dropped []: no data
columns before sort
['sample_id', 'hole_id', 'depthfrom', 'depthfrom.4', 'depthto', 'depthto.4', 'depthfrom.3', 'depthto.3', 'depthfrom.2', 'depthto.2', 'depthfrom.1', 'depthto.1', 'spectrum', 'filename', 'filename.1', 'projectpath', 'company', 'country', 'project', 'dispatchid', 'labjobnumber', 'ponumber', 'spectromno', 'sampletype', 'origsampletype', 'featuretype', 'integration', 'spectrumid', 'spectrumid.1', 'geology', 'swirminerals', 'swirmin_nowt', 'aimineral1', 'aimineral2', 'aimineral3', 'aimineral4', 'aimineral5', 'aimineral6', 'vnirminerals', 'reflectance', 'qaqc_reflect', 'swirnoise', 'qaqc_noise', 'qaqc_quality', 'qaqc_water', 'whitemica_sc', 'chlorite_sc', 'carbonate_sc', 'biotite_sc', 'epidote_sc', 'kaolinite_sc', 'dickite_sc', 'halloysite_sc', 'amphibole_sc', 'talc_sc', 'serpentine_sc', 'montmor_sc', 'nontronite_sc', 'saponite_sc', 'zeolite_sc', 'palygor_sc', 'alunite_sc', 'caalunite_sc', 'jarosite_sc', 'gypsum_sc', 'pyrophyllite_sc', 'diaspore_sc', 'topaz_sc', 'zunyite_sc', 'tourm_sc', 'sudoite_sc', 'prehnite_sc', 'pumpell_sc', 'zoisite_sc', 'ottrelite_sc', 'nh4wtmica_sc', 'nh4min_sc', 'malachite_sc', 'antlerite_sc', 'azurite_sc', 'chryscll_sc', 'gibbsite_sc', 'boehmite_sc', 'apoph_sc', 'chondrt_sc', 'brucite_sc', 'scorodite_sc', 'beryl_sc', 'water_silica_sc', 'fecarb_vnir', 'hem_vnir', 'goeth_vnir', 'chl_vnir', 'tourm_vnir', 'amph_vnir', 'wav_wtmica', 'type_wtmica', 'xt_wtmica', 'wav_chlorite', 'type_chlorite', 'type_carb', 'type_amph', 'int_topaz', 'xt_kaolinite', 'xt_kaol2180', 'xt_kaol2160', 'kadiwtm', 'slope2160', 'wav_main', 'd_main', 'wav_aloh', 'd_aloh', 'wd_aloh', 'wav_alohall', 'd_alohall', 'wd_alohall', 'wav_feoh', 'd_feoh', 'wd_feoh', 'wav_mgohcb', 'd_mgohcb', 'wd_mgohcb', 'relsmectite', 'wav_oh1400', 'd_oh1400', 'wd_oh1400', 'wav_ep1550', 'd_ep1550', 'wav_h2o', 'd_h2o', 'feslope', 'int_feoxide', 'wav_feoxide', 'd_feoxide', 'fintfeoxide', 'foldername', 'filename.2', 'filename.3', 'sample', 'recvd_wt.', 'start', 'end', 'spectrumid.2', 'spectrumid.3', 'wavcarb', 'wavamph', 'chlorite_vnir', 'amphibole_vnir', 'tourmaline_vnir']
columns after sort
['sample_id', 'hole_id', 'depthfrom', 'depthfrom', 'depthto', 'depthto', 'depthfrom.4', 'depthto.4', 'depthfrom.3', 'depthto.3', 'depthfrom.2', 'depthto.2', 'depthfrom.1', 'depthto.1', 'spectrum', 'filename', 'filename.1', 'projectpath', 'company', 'country', 'project', 'dispatchid', 'labjobnumber', 'ponumber', 'spectromno', 'sampletype', 'origsampletype', 'featuretype', 'integration', 'spectrumid', 'spectrumid.1', 'geology', 'swirminerals', 'swirmin_nowt', 'aimineral1', 'aimineral2', 'aimineral3', 'aimineral4', 'aimineral5', 'aimineral6', 'vnirminerals', 'reflectance', 'qaqc_reflect', 'swirnoise', 'qaqc_noise', 'qaqc_quality', 'qaqc_water', 'whitemica_sc', 'chlorite_sc', 'carbonate_sc', 'biotite_sc', 'epidote_sc', 'kaolinite_sc', 'dickite_sc', 'halloysite_sc', 'amphibole_sc', 'talc_sc', 'serpentine_sc', 'montmor_sc', 'nontronite_sc', 'saponite_sc', 'zeolite_sc', 'palygor_sc', 'alunite_sc', 'caalunite_sc', 'jarosite_sc', 'gypsum_sc', 'pyrophyllite_sc', 'diaspore_sc', 'topaz_sc', 'zunyite_sc', 'tourm_sc', 'sudoite_sc', 'prehnite_sc', 'pumpell_sc', 'zoisite_sc', 'ottrelite_sc', 'nh4wtmica_sc', 'nh4min_sc', 'malachite_sc', 'antlerite_sc', 'azurite_sc', 'chryscll_sc', 'gibbsite_sc', 'boehmite_sc', 'apoph_sc', 'chondrt_sc', 'brucite_sc', 'scorodite_sc', 'beryl_sc', 'water_silica_sc', 'fecarb_vnir', 'hem_vnir', 'goeth_vnir', 'chl_vnir', 'tourm_vnir', 'amph_vnir', 'wav_wtmica', 'type_wtmica', 'xt_wtmica', 'wav_chlorite', 'type_chlorite', 'type_carb', 'type_amph', 'int_topaz', 'xt_kaolinite', 'xt_kaol2180', 'xt_kaol2160', 'kadiwtm', 'slope2160', 'wav_main', 'd_main', 'wav_aloh', 'd_aloh', 'wd_aloh', 'wav_alohall', 'd_alohall', 'wd_alohall', 'wav_feoh', 'd_feoh', 'wd_feoh', 'wav_mgohcb', 'd_mgohcb', 'wd_mgohcb', 'relsmectite', 'wav_oh1400', 'd_oh1400', 'wd_oh1400', 'wav_ep1550', 'd_ep1550', 'wav_h2o', 'd_h2o', 'feslope', 'int_feoxide', 'wav_feoxide', 'd_feoxide', 'fintfeoxide', 'foldername', 'filename.2', 'filename.3', 'sample', 'recvd_wt.', 'start', 'end', 'spectrumid.2', 'spectrumid.3', 'wavcarb', 'wavamph', 'chlorite_vnir', 'amphibole_vnir', 'tourmaline_vnir']
drop 0 na rows in locations: Int64Index([], dtype='int64')
-------------------------------
drill hyp-pkg samples master.csv
## Drop no data columns ##
Dropped []: no data
columns before sort
['work_order', 'sample_id', 'hole_id', 'depth_ft', 'depth_m', 'depth', 'depth.4', 'depth.3', 'depth.2', 'depth.1', 'geo', 'description', 'foldername', 'filename', '_2', '_3', 'change_for_new_hole_!!']
columns after sort
['work_order', 'sample_id', 'hole_id', 'depth_ft', 'depth_m', 'depth', 'depth.4', 'depth.3', 'depth.2', 'depth.1', 'geo', 'description', 'foldername', 'filename', '_2', '_3', 'change_for_new_hole_!!']
drop 0 na rows in locations: Int64Index([], dtype='int64')
-------------------------------
drill lithology master.csv
## Drop no data columns ##
Dropped []: no data
columns before sort
['hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'geo', 'lithology', 'texture', 'description', 'foldername', 'filename']
columns after sort
['hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'geo', 'lithology', 'texture', 'description', 'foldername', 'filename']
drop 0 na rows in locations: Int64Index([], dtype='int64')
-------------------------------
drill mineralization master.csv
## Drop no data columns ##
Dropped []: no data
columns before sort
['hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'hole_id.1', 'to_ft.1', 'geo', 'min_type', 'sulf%', 'cp%', 'py%', 'gn%', 'sl%', 'other', 'description', 'foldername', 'filename', 'unnamed:_16']
columns after sort
['hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'hole_id.1', 'to_ft.1', 'geo', 'min_type', 'sulf%', 'cp%', 'py%', 'gn%', 'sl%', 'other', 'description', 'foldername', 'filename', 'unnamed:_16']
drop 0 na rows in locations: Int64Index([], dtype='int64')
-------------------------------
drill recovery master.csv
## Drop no data columns ##
Dropped []: no data
columns before sort
['hole_id', 'from_ft', 'to_ft', 'drilled_ft', 'recovered', 'recovery_%', 'foldername', 'filename', 'unnamed:_8', '_2']
columns after sort
['hole_id', 'from_ft', 'to_ft', 'drilled_ft', 'recovered', 'recovery_%', 'foldername', 'filename', 'unnamed:_8', '_2']
drop 0 na rows in locations: Int64Index([], dtype='int64')
-------------------------------
drill samples master.csv
## Drop no data columns ##
Dropped []: no data
columns before sort
['work_order', 'sample_id', 'hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'geo', 'qaqc', 'description', 'foldername', 'filename']
columns after sort
['work_order', 'sample_id', 'hole_id', 'from_ft', 'to_ft', 'from_m', 'to_m', 'geo', 'qaqc', 'description', 'foldername', 'filename']
drop 0 na rows in locations: Int64Index([], dtype='int64')
-------------------------------
drill terraspec master.csv
drill terraspec master.csv
No columns to parse from file
-------------------------------
drill terraspec samples master.csv
## Drop no data columns ##
Dropped []: no data
columns before sort
['sample_id', 'hole_id', 'depth', 'depth.4', 'depth.3', 'depth.2', 'depth.1', 'user', 'date', 'internal_id', 'notes', 'foldername', 'filename']
columns after sort
['sample_id', 'hole_id', 'depth', 'depth.4', 'depth.3', 'depth.2', 'depth.1', 'user', 'date', 'internal_id', 'notes', 'foldername', 'filename']
drop 0 na rows in locations: Int64Index([], dtype='int64')
-------------------------------
drill xrf samples master (1).csv
## Drop no data columns ##
Dropped []: no data
columns before sort
['sample_id', 'hole_id', 'depth_ft', 'user', 'date', 'internal_id', 'notes', 'foldername', 'filename']
columns after sort
['sample_id', 'hole_id', 'depth_ft', 'user', 'date', 'internal_id', 'notes', 'foldername', 'filename']
drop 0 na rows in locations: Int64Index([], dtype='int64')
-------------------------------
rock geochemical assays master.csv
## Drop no data columns ##
Dropped []: no data
columns before sort
['sample', 'recvd_wt.', 'au', 'ag', 'al', 'as', 'ba', 'be', 'bi', 'ca', 'cd', 'co', 'cr', 'cu', 'fe', 'ga', 'k', 'la', 'mg', 'mn', 'mo', 'na', 'ni', 'p', 'pb', 's', 'sb', 'sc', 'sr', 'th', 'ti', 'tl', 'u', 'v', 'w', 'zn', 'ag_2', 'foldername', 'filename', 'b', 'hg', 'zn_2', 'ce', 'cs', 'ge', 'hf', 'in', 'li', 'nb', 'rb', 're', 'se', 'sn', 'ta', 'te', 'y', 'zr', 'cu_2', 'pb_2', 'au_2']
columns after sort
['sample', 'recvd_wt.', 'au', 'ag', 'al', 'as', 'ba', 'be', 'bi', 'ca', 'cd', 'co', 'cr', 'cu', 'fe', 'ga', 'k', 'la', 'mg', 'mn', 'mo', 'na', 'ni', 'p', 'pb', 's', 'sb', 'sc', 'sr', 'th', 'ti', 'tl', 'u', 'v', 'w', 'zn', 'ag_2', 'foldername', 'filename', 'b', 'hg', 'zn_2', 'ce', 'cs', 'ge', 'hf', 'in', 'li', 'nb', 'rb', 're', 'se', 'sn', 'ta', 'te', 'y', 'zr', 'cu_2', 'pb_2', 'au_2']
drop 0 na rows in locations: Int64Index([], dtype='int64')
-------------------------------
soil geochemical assays master.csv
## Drop no data columns ##
Dropped []: no data
columns before sort
['sample', 'recvd_wt.', 'au', 'ag', 'al', 'as', 'b', 'ba', 'be', 'bi', 'ca', 'cd', 'ce', 'co', 'cr', 'cs', 'cu', 'fe', 'ga', 'ge', 'hf', 'hg', 'in', 'k', 'la', 'li', 'mg', 'mn', 'mo', 'na', 'nb', 'ni', 'p', 'pb', 'rb', 're', 's', 'sb', 'sc', 'se', 'sn', 'sr', 'ta', 'te', 'th', 'ti', 'tl', 'u', 'v', 'w', 'y', 'zn', 'zr', 'foldername', 'filename', 'au_2']
columns after sort
['sample', 'recvd_wt.', 'au', 'ag', 'al', 'as', 'b', 'ba', 'be', 'bi', 'ca', 'cd', 'ce', 'co', 'cr', 'cs', 'cu', 'fe', 'ga', 'ge', 'hf', 'hg', 'in', 'k', 'la', 'li', 'mg', 'mn', 'mo', 'na', 'nb', 'ni', 'p', 'pb', 'rb', 're', 's', 'sb', 'sc', 'se', 'sn', 'sr', 'ta', 'te', 'th', 'ti', 'tl', 'u', 'v', 'w', 'y', 'zn', 'zr', 'foldername', 'filename', 'au_2']
drop 0 na rows in locations: Int64Index([], dtype='int64')
Collar
Lithology
Mineralization
Alteration
Structure
Foliation
Samples
HYP-PKG Samples
Recovery
Legend
Error in sorting
index 0 is out of bounds for axis 0 with size 0
Error in sorting
index 0 is out of bounds for axis 0 with size 0
XRF
Terraspec
Error in sorting
index 0 is out of bounds for axis 0 with size 0
Closeout Checklist
Error in sorting
index 0 is out of bounds for axis 0 with size 0
Copy of xrf samples master
drill alteration master
drill foliation master
drill geochemical assays master
Error in sorting
index 0 is out of bounds for axis 0 with size 0
Error in sorting
index 0 is out of bounds for axis 0 with size 0
drill hyp-pkg certificates master
Error in sorting
index 0 is out of bounds for axis 0 with size 0

In [ ]:
## merge function

files=sorted(os.listdir(dir_test))
sample_files=[]
data_files=[]
merge_dic={}
for file in files:
    if 'sample' in file:
        print(file)
        sample_files.append(file)

for d_file in files:
    if d_file not in sample_files:
        d_name=d_file.split(' ')
        for s_file in sample_files:
            s_name=s_file.split(' ')
            if s_name[:2]==d_name[:2]:
                basename=" ".join(s_name[:2])
                d_data=pd.read_csv(dir_test+d_file,low_memory=False)
                s_data=pd.read_csv(dir_test+s_file,low_memory=False)
                d_col=d_data.filter(like='sample').columns[0]
                s_col=s_data.filter(like='sample').columns[0]
                data=pd.merge(s_data,d_data,left_on=s_col,right_on=d_col,how='outer',suffixes=['_'+s_name[2],'_'+d_name[2]] )
                data=sort_data(data,verbose=True)
                data=ct.reorder_columns(data,verbose=True)
                if verbose:
                    print(f'Merging {" ".join(s_name)} samples with {" ".join(d_name)} data')
                    print(f'Using column: {s_col} in the sample sheet')
                    print(f'Using column: {d_col} in the data sheet')
                data.to_csv(f'test_data/{basename} merged.csv',index=False)


(sample_files,data_files)
                    # data=pd.read_csv(dir+file,low_memory=False)
    # data=sort_data(data)

Copy of xrf samples master.csv
drill hyp-pkg samples master.csv
drill hyp-pkg samples py master.csv
drill samples master.csv
drill samples py master.csv
drill terraspec samples master.csv
drill xrf samples master (1).csv
using ['hole_idsamples', 'depth_ft'] for sorting the data
columns before sort
['work_order', 'sample_id', 'hole_idsamples', 'depth_ft', 'depth_m', 'depth', 'depth.4', 'depth.3', 'depth.2', 'depth.1', 'geo', 'description', 'foldernamesamples', 'filenamesamples', '_2', '_3', 'change_for_new_hole_!!', 'hole_idcertificates', 'depthfrom', 'depthfrom.5', 'depthto', 'depthto.5', 'depthfrom.4', 'depthto.4', 'depthfrom.3', 'depthto.3', 'depthfrom.2', 'depthto.2', 'depthfrom.1', 'depthto.1', 'spectrum', 'filenamecertificates', 'filename.1', 'projectpath', 'company', 'country', 'project', 'dispatchid', 'labjobnumber', 'ponumber', 'spectromno', 'sampletype', 'origsampletype', 'featuretype', 'integration', 'spectrumid', 'spectrumid.1', 'geology', 'swirminerals', 'swirmin_nowt', 'aimineral1', 'aimineral2', 'aimineral3', 'aimineral4', 'aimineral5', 'aimineral6', 'vnirminerals', 'reflectance', 'qaqc_reflect', 'swirnoise', 'qaqc_noise', 'qaqc_quality', 'qaqc_water', 'whitemica_sc', 'chlorite_sc', 'carbonate_sc', 'biotite_sc', 'epidote_sc', 'kaolinite_sc', 'dickite_sc', 'halloysite_sc', 'amphibole_sc', 'talc_sc', 'serpentine_sc', 'montmor_sc', 'nontronite_sc', 'saponite_sc', 'zeolite_sc', 'palygor_sc', 'alunite_sc', 'caalunite_sc', 'jarosite_sc', 'gypsum_sc', 'pyrophyllite_sc', 'diaspore_sc', 'topaz_sc', 'zunyite_sc', 'tourm_sc', 'sudoite_sc', 'prehnite_sc', 'pumpell_sc', 'zoisite_sc', 'ottrelite_sc', 'nh4wtmica_sc', 'nh4min_sc', 'malachite_sc', 'antlerite_sc', 'azurite_sc', 'chryscll_sc', 'gibbsite_sc', 'boehmite_sc', 'apoph_sc', 'chondrt_sc', 'brucite_sc', 'scorodite_sc', 'beryl_sc', 'water_silica_sc', 'fecarb_vnir', 'hem_vnir', 'goeth_vnir', 'chl_vnir', 'tourm_vnir', 'amph_vnir', 'wav_wtmica', 'type_wtmica', 'xt_wtmica', 'wav_chlorite', 'type_chlorite', 'type_carb', 'type_amph', 'int_topaz', 'xt_kaolinite', 'xt_kaol2180', 'xt_kaol2160', 'kadiwtm', 'slope2160', 'wav_main', 'd_main', 'wav_aloh', 'd_aloh', 'wd_aloh', 'wav_alohall', 'd_alohall', 'wd_alohall', 'wav_feoh', 'd_feoh', 'wd_feoh', 'wav_mgohcb', 'd_mgohcb', 'wd_mgohcb', 'relsmectite', 'wav_oh1400', 'd_oh1400', 'wd_oh1400', 'wav_ep1550', 'd_ep1550', 'wav_h2o', 'd_h2o', 'feslope', 'int_feoxide', 'wav_feoxide', 'd_feoxide', 'fintfeoxide', 'foldernamecertificates', 'filename.2', 'filename.3', 'sample', 'recvd_wt.', 'start', 'end', 'spectrumid.2', 'spectrumid.3', 'wavcarb', 'wavamph', 'chlorite_vnir', 'amphibole_vnir', 'tourmaline_vnir']
columns after sort
['work_order', 'sample_id', 'depth_ft', 'depth_m', 'depthfrom', 'depthfrom', 'depthto', 'depthto', 'hole_idsamples', 'depth', 'depth.4', 'depth.3', 'depth.2', 'depth.1', 'geo', 'description', 'foldernamesamples', 'filenamesamples', '_2', '_3', 'change_for_new_hole_!!', 'hole_idcertificates', 'depthfrom.5', 'depthto.5', 'depthfrom.4', 'depthto.4', 'depthfrom.3', 'depthto.3', 'depthfrom.2', 'depthto.2', 'depthfrom.1', 'depthto.1', 'spectrum', 'filenamecertificates', 'filename.1', 'projectpath', 'company', 'country', 'project', 'dispatchid', 'labjobnumber', 'ponumber', 'spectromno', 'sampletype', 'origsampletype', 'featuretype', 'integration', 'spectrumid', 'spectrumid.1', 'geology', 'swirminerals', 'swirmin_nowt', 'aimineral1', 'aimineral2', 'aimineral3', 'aimineral4', 'aimineral5', 'aimineral6', 'vnirminerals', 'reflectance', 'qaqc_reflect', 'swirnoise', 'qaqc_noise', 'qaqc_quality', 'qaqc_water', 'whitemica_sc', 'chlorite_sc', 'carbonate_sc', 'biotite_sc', 'epidote_sc', 'kaolinite_sc', 'dickite_sc', 'halloysite_sc', 'amphibole_sc', 'talc_sc', 'serpentine_sc', 'montmor_sc', 'nontronite_sc', 'saponite_sc', 'zeolite_sc', 'palygor_sc', 'alunite_sc', 'caalunite_sc', 'jarosite_sc', 'gypsum_sc', 'pyrophyllite_sc', 'diaspore_sc', 'topaz_sc', 'zunyite_sc', 'tourm_sc', 'sudoite_sc', 'prehnite_sc', 'pumpell_sc', 'zoisite_sc', 'ottrelite_sc', 'nh4wtmica_sc', 'nh4min_sc', 'malachite_sc', 'antlerite_sc', 'azurite_sc', 'chryscll_sc', 'gibbsite_sc', 'boehmite_sc', 'apoph_sc', 'chondrt_sc', 'brucite_sc', 'scorodite_sc', 'beryl_sc', 'water_silica_sc', 'fecarb_vnir', 'hem_vnir', 'goeth_vnir', 'chl_vnir', 'tourm_vnir', 'amph_vnir', 'wav_wtmica', 'type_wtmica', 'xt_wtmica', 'wav_chlorite', 'type_chlorite', 'type_carb', 'type_amph', 'int_topaz', 'xt_kaolinite', 'xt_kaol2180', 'xt_kaol2160', 'kadiwtm', 'slope2160', 'wav_main', 'd_main', 'wav_aloh', 'd_aloh', 'wd_aloh', 'wav_alohall', 'd_alohall', 'wd_alohall', 'wav_feoh', 'd_feoh', 'wd_feoh', 'wav_mgohcb', 'd_mgohcb', 'wd_mgohcb', 'relsmectite', 'wav_oh1400', 'd_oh1400', 'wd_oh1400', 'wav_ep1550', 'd_ep1550', 'wav_h2o', 'd_h2o', 'feslope', 'int_feoxide', 'wav_feoxide', 'd_feoxide', 'fintfeoxide', 'foldernamecertificates', 'filename.2', 'filename.3', 'sample', 'recvd_wt.', 'start', 'end', 'spectrumid.2', 'spectrumid.3', 'wavcarb', 'wavamph', 'chlorite_vnir', 'amphibole_vnir', 'tourmaline_vnir']
Merging drill hyp-pkg samples master.csv samples with drill hyp-pkg certificates master.csv data
Using column: sample_id in the sample sheet
Using column: sample_id in the data sheet
using ['hole_idsamples', 'depth_ft'] for sorting the data
columns before sort
['work_order', 'sample_id', 'hole_idsamples', 'depth_ft', 'depth_m', 'geo', 'file_location', 'description', 'unnamed:_8', 'change_for_new_hole_!!', 'unnamed:_10', 'depth', 'hole_idcertificates', 'depthfrom', 'depthfrom.5', 'depthto', 'depthto.5', 'depthfrom.4', 'depthto.4', 'depthfrom.3', 'depthto.3', 'depthfrom.2', 'depthto.2', 'depthfrom.1', 'depthto.1', 'spectrum', 'filename', 'filename.1', 'projectpath', 'company', 'country', 'project', 'dispatchid', 'labjobnumber', 'ponumber', 'spectromno', 'sampletype', 'origsampletype', 'featuretype', 'integration', 'spectrumid', 'spectrumid.1', 'geology', 'swirminerals', 'swirmin_nowt', 'aimineral1', 'aimineral2', 'aimineral3', 'aimineral4', 'aimineral5', 'aimineral6', 'vnirminerals', 'reflectance', 'qaqc_reflect', 'swirnoise', 'qaqc_noise', 'qaqc_quality', 'qaqc_water', 'whitemica_sc', 'chlorite_sc', 'carbonate_sc', 'biotite_sc', 'epidote_sc', 'kaolinite_sc', 'dickite_sc', 'halloysite_sc', 'amphibole_sc', 'talc_sc', 'serpentine_sc', 'montmor_sc', 'nontronite_sc', 'saponite_sc', 'zeolite_sc', 'palygor_sc', 'alunite_sc', 'caalunite_sc', 'jarosite_sc', 'gypsum_sc', 'pyrophyllite_sc', 'diaspore_sc', 'topaz_sc', 'zunyite_sc', 'tourm_sc', 'sudoite_sc', 'prehnite_sc', 'pumpell_sc', 'zoisite_sc', 'ottrelite_sc', 'nh4wtmica_sc', 'nh4min_sc', 'malachite_sc', 'antlerite_sc', 'azurite_sc', 'chryscll_sc', 'gibbsite_sc', 'boehmite_sc', 'apoph_sc', 'chondrt_sc', 'brucite_sc', 'scorodite_sc', 'beryl_sc', 'water_silica_sc', 'fecarb_vnir', 'hem_vnir', 'goeth_vnir', 'chl_vnir', 'tourm_vnir', 'amph_vnir', 'wav_wtmica', 'type_wtmica', 'xt_wtmica', 'wav_chlorite', 'type_chlorite', 'type_carb', 'type_amph', 'int_topaz', 'xt_kaolinite', 'xt_kaol2180', 'xt_kaol2160', 'kadiwtm', 'slope2160', 'wav_main', 'd_main', 'wav_aloh', 'd_aloh', 'wd_aloh', 'wav_alohall', 'd_alohall', 'wd_alohall', 'wav_feoh', 'd_feoh', 'wd_feoh', 'wav_mgohcb', 'd_mgohcb', 'wd_mgohcb', 'relsmectite', 'wav_oh1400', 'd_oh1400', 'wd_oh1400', 'wav_ep1550', 'd_ep1550', 'wav_h2o', 'd_h2o', 'feslope', 'int_feoxide', 'wav_feoxide', 'd_feoxide', 'fintfeoxide', 'foldername', 'filename.2', 'filename.3', 'sample', 'recvd_wt.', 'start', 'end', 'spectrumid.2', 'spectrumid.3', 'wavcarb', 'wavamph', 'chlorite_vnir', 'amphibole_vnir', 'tourmaline_vnir']
columns after sort
['work_order', 'sample_id', 'depth_ft', 'depth_m', 'depthfrom', 'depthfrom', 'depthto', 'depthto', 'hole_idsamples', 'geo', 'file_location', 'description', 'unnamed:_8', 'change_for_new_hole_!!', 'unnamed:_10', 'depth', 'hole_idcertificates', 'depthfrom.5', 'depthto.5', 'depthfrom.4', 'depthto.4', 'depthfrom.3', 'depthto.3', 'depthfrom.2', 'depthto.2', 'depthfrom.1', 'depthto.1', 'spectrum', 'filename', 'filename.1', 'projectpath', 'company', 'country', 'project', 'dispatchid', 'labjobnumber', 'ponumber', 'spectromno', 'sampletype', 'origsampletype', 'featuretype', 'integration', 'spectrumid', 'spectrumid.1', 'geology', 'swirminerals', 'swirmin_nowt', 'aimineral1', 'aimineral2', 'aimineral3', 'aimineral4', 'aimineral5', 'aimineral6', 'vnirminerals', 'reflectance', 'qaqc_reflect', 'swirnoise', 'qaqc_noise', 'qaqc_quality', 'qaqc_water', 'whitemica_sc', 'chlorite_sc', 'carbonate_sc', 'biotite_sc', 'epidote_sc', 'kaolinite_sc', 'dickite_sc', 'halloysite_sc', 'amphibole_sc', 'talc_sc', 'serpentine_sc', 'montmor_sc', 'nontronite_sc', 'saponite_sc', 'zeolite_sc', 'palygor_sc', 'alunite_sc', 'caalunite_sc', 'jarosite_sc', 'gypsum_sc', 'pyrophyllite_sc', 'diaspore_sc', 'topaz_sc', 'zunyite_sc', 'tourm_sc', 'sudoite_sc', 'prehnite_sc', 'pumpell_sc', 'zoisite_sc', 'ottrelite_sc', 'nh4wtmica_sc', 'nh4min_sc', 'malachite_sc', 'antlerite_sc', 'azurite_sc', 'chryscll_sc', 'gibbsite_sc', 'boehmite_sc', 'apoph_sc', 'chondrt_sc', 'brucite_sc', 'scorodite_sc', 'beryl_sc', 'water_silica_sc', 'fecarb_vnir', 'hem_vnir', 'goeth_vnir', 'chl_vnir', 'tourm_vnir', 'amph_vnir', 'wav_wtmica', 'type_wtmica', 'xt_wtmica', 'wav_chlorite', 'type_chlorite', 'type_carb', 'type_amph', 'int_topaz', 'xt_kaolinite', 'xt_kaol2180', 'xt_kaol2160', 'kadiwtm', 'slope2160', 'wav_main', 'd_main', 'wav_aloh', 'd_aloh', 'wd_aloh', 'wav_alohall', 'd_alohall', 'wd_alohall', 'wav_feoh', 'd_feoh', 'wd_feoh', 'wav_mgohcb', 'd_mgohcb', 'wd_mgohcb', 'relsmectite', 'wav_oh1400', 'd_oh1400', 'wd_oh1400', 'wav_ep1550', 'd_ep1550', 'wav_h2o', 'd_h2o', 'feslope', 'int_feoxide', 'wav_feoxide', 'd_feoxide', 'fintfeoxide', 'foldername', 'filename.2', 'filename.3', 'sample', 'recvd_wt.', 'start', 'end', 'spectrumid.2', 'spectrumid.3', 'wavcarb', 'wavamph', 'chlorite_vnir', 'amphibole_vnir', 'tourmaline_vnir']
Merging drill hyp-pkg samples py master.csv samples with drill hyp-pkg certificates master.csv data
Using column: sample_id in the sample sheet
Using column: sample_id in the data sheet

:

: